* {
    box-sizing: border-box;
}
html{
	box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body{
	margin: 0;
	padding: 0;
	font-size: 16px;
	color: rgb(255, 251, 251);
	font-family: sans-serif;

	background-size: cover;
	font-weight: 300;
}
.login-box{
	position: relative;
	margin: 10% auto;
	height: 450px;
	width: 300px;
    background: rgba(247, 244, 244, 0.144);
	box-shadow: 0px 4px 9px 2px rgba(214, 171, 171, 0.979);
    padding: 1.2rem 3rem 1.2rem 3rem;
    
}

.left-box {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: absolute;
	top: 0;
	left: 0;
	padding: 40px;
	width: 300px;
	height: 400px;
}

h1{
	margin-bottom: 20px;
	font-size: 28px;
	color: #f52463;
	text-align: center;
}
.input-box{
	display: block;
	margin-bottom: 20px;
	padding: 4px;
	width: 220px;
	height: 32px;
	border: 1px solid #3533336c;
	outline: none;
	font-size: 15px;
	transition: .2s;
	color: #242222f8;
}
input[type="submit"]{
	display: block;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 0px;
	width: 220px;
	background: #f52463;
	border-radius: 3px;
	color: #fff;
	border-color: #f52463;
	text-transform: uppercase;
	cursor: pointer;
	transition: .2s;
	padding: 6px;
}

a {

	text-decoration: none;
	justify-content: center;
	color: #fff;
	background-color: rgb(12, 75, 148);
	border-radius: 3px;
	width: 220px;
	display:block;
	text-align: center;
	margin-top: 4px;
	font-size: 14px;
	padding: 6px;
}

input[type="submit"]:hover,
input[type="submit"]:focus{
	background: #ee0a4a;
	transition: .2s;
}

input::placeholder{
	color:#a7a2a2;
}
label {
	color: #111010ce;
}